@model ProjetoGestao.Models.Colaborador

@{
    ViewData["Title"] = "Detalhes Colaborador";
}

<h4 class="mt-5">Detalhes Colaborador</h4>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeColaborador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeColaborador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apelido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apelido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroTelemovel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroTelemovel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Funcao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Funcao.NomeFuncao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ColaboradorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
