@model IEnumerable<ProjetoGestao.Models.NovoColaborador>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-area="" asp-controller="NovoColaborador" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeColaborador)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeColaborador)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NovoColaboradorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NovoColaboradorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NovoColaboradorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
