@model IEnumerable<ProjetoGestao.Models.Projeto>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeProjeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoProjeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPrevistaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEfetivaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEfetivaFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPrevistaFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gestor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProjeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoProjeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPrevistaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEfetivaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEfetivaFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPrevistaFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gestor.Apelido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Apelido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjetoId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ProjetoId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjetoId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
