@model IEnumerable<ProjetoGestao.Models.Projeto>

@{
    ViewData["Title"] = "Projetos";
}

<h2 class="mt-5">Projetos</h2>

<p>
    <a asp-action="Create">Criar Projeto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeProjeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescricaoProjeto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPrevistaInicio)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.DataEfetivaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEfetivaFim)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.DataPrevistaFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gestor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeProjeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescricaoProjeto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPrevistaInicio)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.DataEfetivaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEfetivaFim)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.DataPrevistaFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gestor.Apelido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente.Apelido)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ProjetoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ProjetoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjetoId">Eliminar</a>
            </td>
        </tr>
}   
    </tbody>
</table>
<p>
    <a asp-controller="Tarefas" asp-action="Index" class="btn btn-secondary">Tarefas</a>|
    <a asp-controller="Relatorios" asp-action="Index" class="btn btn-secondary">Relatorio</a>
    
</p>