@model IEnumerable<ProjetoGestao.Models.Tarefa>

@{
    ViewData["Title"] = "Tarefas";
}

<h2 class="mt-5">Tarefas</h2>

<p>
    <a asp-action="Create">Criar Tarefa</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeTarefa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPrevistaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEfetivaInicio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataEfetivaFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPrevistaFim)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ColaboradorResponsavelTarefa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstadoTarefa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Projeto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeTarefa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPrevistaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEfetivaInicio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataEfetivaFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataPrevistaFim)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ColaboradorResponsavelTarefa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstadoTarefa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Projeto.DataEfetivaFim)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.TarefaId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.TarefaId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.TarefaId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
