@model ProjetoGestao.Models.Gestor

@{
    ViewData["Title"] = "Eliminar Gestor";
}

<h4 class="mt-5">Eliminar Gestor</h4>
<h3>Tem a certeza que pretende eliminar?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeGestor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeGestor)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apelido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apelido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroTelemovel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroTelemovel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Endereco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ExperienciaComoGestor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ExperienciaComoGestor)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="GestorId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
