@model ProjetoGestao.Models.NovoProjeto

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NovoProjeto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeProjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescricaoProjeto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescricaoProjeto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NovoGestor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NovoGestor.NomeGestor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.NovoProjetoId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
