@model ProjetoGestao.Models.Cliente

@{
    ViewData["Title"] = "Eliminar Cliente";
}

<h4 class="mt-5">Eliminar Cliente</h4>
<h3 class="text-danger">Tem a certeza que pretende eliminar?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeCliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeCliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apelido)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apelido)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroTelemovel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NumeroTelemovel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataNascimento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataNascimento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genero)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ClienteId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
