@model IEnumerable<ProjetoGestao.Models.Cliente>

@{
    ViewData["Title"] = "Clientes";
}

<h2 class="mt-5">Clientes</h2>

<p>
    <a asp-action="Create">Criar Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NomeCliente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apelido)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.NumeroTelemovel)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.DataNascimento)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th></th>*@
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NomeCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apelido)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.NumeroTelemovel)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.DataNascimento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero)
            </td>*@
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClienteId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.ClienteId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.ClienteId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
